@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {

    margin: 0px;


}

.main-login {


    bottom: 0;
    width: 100%;
    max-height: 100vw;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.left-login {

    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login>h1 {

    font-size: 38px;
    color: #77ffc0;

}

.left-login-image {

    width: 45vw;


}


.right-left {

    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {

    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 80px;
    background-color: #2f2841;
    border-radius: 40px;
    box-shadow: 0px 0px 20px #836FFF;
    margin-left: 300px;
}

.card-login>h1 {


    color: #00ff88;
    font-weight: 800;
    margin: 0;

}

.text-label {

    color: #f0ffff94;
    margin-bottom: 5px;
}

.textfield {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;

}

.textfield>input {

    color: #f0ffffde;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 3px;

}

.textflied>label {

    color: #f0ffffde;
    margin-bottom: 10px;

}

.textfield>input::placeholder {


    color: #f0ffff94;

}

.cadastro-usuario {

    font-size: 18px;
    color: #00ff88;
    text-decoration: none;
}

.link-pagina {


    text-decoration: none;


}

.button {

    cursor: pointer;
    margin-top: 10px;
    align-items: center;
    width: 120px;
    height: 30px;
    background-color: #00ff88;
    border-radius: 8px;
    border: none;
    color: #2f2841;
    text-decoration: none;
}

.btn-login {

    font-size: 18px;
    cursor: pointer;
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: #00ff88;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    

}


@media only screen and (max-width: 950px) {


    .card-login {
        width: 85%;

    }

}